:root {
  --primary: #DC3545;
  --secondary: #33B44A;
  --success: #219653;
  --danger: #FD3E3E;
  --warning: #EFAF0C;
  --info: rgba(29, 128, 221, 0.82);
  --background-primary: #FFFFFF;
  --background-secondary: #E9EEF2;
  --background-muted: #B4B4B4;
  --primary-8: rgba(51, 180, 74, 0.08);
  --danger-10: #FFECEC;
  --info-10: #E9F3FC;
  --warning-11: #FEF7E7;
  --green: #EBF8ED;
  --gray: #5F7D95;
  --gray-1: #E9EEF2;
  --warning-10: linear-gradient(0deg, rgba(239, 175, 12, 0.1), rgba(239, 175, 12, 0.1)), #FFFFFF;
  --text-primary: #374957;
  --text-primary-reverse: #FFFFFF;
  --text-secondary: #757E89;
  --text-muted: #B4B4B4;
  --line-primary: #BAC8D3;
  --box-shadow-primary: 0px 5px 10px rgba(0, 0, 0, 0.05);
  &.dark-mode {
    --primary: #33B44A;
    --secondary: #33B44A;
    --success: #219653;
    --danger: #FD3E3E;
    --warning: #EFAF0C;
    --info: #1D80DD;
    --background-primary: #FFFFFF;
    --background-secondary: #E9EEF2;
    --background-muted: #B4B4B4;
    --primary-8: rgba(51, 180, 74, 0.08);
    --danger-10: linear-gradient(0deg, rgba(253, 62, 62, 0.1), rgba(253, 62, 62, 0.1)), #FFFFFF;
    --info-10: linear-gradient(0deg, rgba(29, 128, 221, 0.1), rgba(29, 128, 221, 0.1)), #FFFFFF;
    --warning-10: linear-gradient(0deg, rgba(239, 175, 12, 0.1), rgba(239, 175, 12, 0.1)), #FFFFFF;
    --text-primary: #1A1A1A;
    --text-primary-reverse: #FFFFFF;
    --text-secondary: #757E89;
    --text-muted: #B4B4B4;
    --line-primary: #D9D9D9;
    --box-shadow-primary: 0px 5px 10px rgba(0, 0, 0, 0.05);
  }
}
