@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'element-plus/theme-chalk/el-notification.css';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-secondary);
}

::-webkit-scrollbar {
  width: 4px;
  height: 0;
  background-color: var(--primary-8);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary) !important;
  border-radius: 2px;
}
.el-form-item__label {
  font-size: 16px !important;
  color: #090909 !important;
}
